
services:
  db:
    image: postgis/postgis:17-master
    container_name: os-acoustic-postgres
    env_file:
      - .env
    # 把資料庫檔案存在本機，避免關掉 Docker 資料就不見
    volumes:
      - D:/Program Files/Docker_DB_volume/os-acoustic-postgres:/var/lib/postgresql/data
    
    command: -p ${POSTGRES_PORT}
    
    ports:
      - "${POSTGRES_PORT_OUT}:${POSTGRES_PORT}"

  fastapi-app:
    # build: . 表示使用當前目錄下的 Dockerfile 來建置映像檔
    build: .
    
    # 定義容器名稱，方便識別
    container_name: os-acoustic-backend
    
    # 對應 Port：左邊是電腦的 8000，右邊是容器內的 80
    ports:
      - "${APP_PORT_OUT}:${APP_PORT}"   

    # 掛載 (Volume)
    volumes:
      - ./app:/app/app

      # 掛載 Alembic 設定檔 
      - ./alembic.ini:/app/alembic.ini
      - ./alembic:/app/alembic

    env_file:
      - .env
    # 確保資料庫啟動後才啟動 App
    depends_on:
      - db
    
    # 重點 2：覆寫啟動指令
    # 我們在這裡加上 --reload 參數
    # 這樣當程式碼變更時，伺服器會自動重啟，不用手動重開 Docker
    command: uvicorn app.main:app --host 0.0.0.0 --port ${APP_PORT} --reload

  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - "8080:8080"