name: CI

on:
  push:
    branches: [ eric23489/feature/auth-token-flows, main ]
  pull_request:
    branches: [ eric23489/feature/auth-token-flows, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Write .env
        run: |
          cat > .env <<'EOF'
          POSTGRES_USER=${{ secrets.DB_USER }}
          POSTGRES_PASSWORD=${{ secrets.DB_PASSWORD }}
          POSTGRES_DB=${{ secrets.POSTGRES_DB }}
          POSTGRES_IP_ADDRESS=db
          POSTGRES_PORT=5431
          POSTGRES_PORT_OUT=5431
          APP_PORT=80
          APP_PORT_OUT=8000
          SECRET_KEY=${{ secrets.SECRET_KEY }}
          ALGORITHM=HS256
          ACCESS_TOKEN_EXPIRE_MINUTES=30
          EOF

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: pytest
